<html>
    <head>
        <title>Взятые заказы</title>
    </head>
    <header>
        <ui>
            <li><a href="http://{{ host }}/">Главная</a></li>
            <li><a href="http://{{ host }}/add-note">Добавить задачу</a></li>
            <li><a href="http://{{ host }}/archive">Архив</a></li>
            <li><a href="http://{{ host }}/statistics">Статистика</a></li>
            <li><a href="http://{{ host }}/logout">Выход</a></li>
        </ui>
    </header>
    <body>
        <h1>Мои задачи</h1>
        {% if empty %}
            <h2>{{ empty }}</h2>
        {% endif %}
        <div id="notes">
        {% if notes %}
            {% for item in notes.Data %}
                <div id="note">
                    <p class="title"><b>ID #{{ item.ID }} - {{ item.Title }}</b> Дата создания: {{ item.DateCreate }} </p>
                    <p>Задача: {{ item.Value }}</p>
                    <p>Изменено: {{ item.DateUpdate }}</p>
                    <p class="info">Ответственный: {{ item.User }}</p>
                    <p class="info">Время начала исполнения - {{ item.DateStart }}</p>
                    <p class="info">Статус - {{ item.Status }}</p> 
                    <form action = "/set-note-ready" method="post">
                        <button type="submit" class="like" name="note" value="{{ item.ID }}">Завершить</button>
                    </form>
                    <form action = "/set-note-cancel" method="post">
                        <button type="submit" class="like" name="note" value="{{ item.ID }}">Отменить</button>
                    </form>
                    {% if item.ID == note %}
                            <p class="error">Не получилось {{ method }} задачу, повторите позже!</p>
                    {% endif %}
                    <p>===================================================</p>
                </div>
            </div>
            {% endfor %}
        {% endif%}
    </body>
</html>