<html>
    <head>
        <title>Поступившие заказы</title>
    </head>
    <header>
        <ui>
            <li><a href="http://{{ host }}/">Главная</a></li>
            <li><a href="http://{{ host }}/my-note">Мои задачи</a></li>
            <li><a href="http://{{ host }}/add-note">Добавить задачу</a></li>
            <li><a href="http://{{ host }}/archive">Архив</a></li>
            <li><a href="http://{{ host }}/statistics">Статистика</a></li>
            <li><a href="http://{{ host }}/logout">Выход</a></li>
        </ui>
    </header>
    <body>
        <h1>Все поступившие задачи</h1>
        {% if empty %}
            <h2>{{ empty }}</h2>
        {% endif %}
        <div id="notes">
        {% if notes %}
            {% for item in notes.Data %}
                <div id="note">
                    <p class="title"><b>ID #{{ item.ID }} - {{ item.Title }}</b> Дата создания: {{ item.DateCreate }} </p>
                    <p>Задача: {{ item.Value }}</p>
                    <p>Изменено: {{ item.DateUpdate }}</p>
                    <p class="info">Ответственный: {{ item.User }}</p>
                    {% if item.Status == 'Без исполнителя' %}
                        <form action = "/home" method="post">
                            <p class="info">Статус - Не исполняется</p> <button type="submit" class="like" name="note" value="{{ item.ID }}">Взять задачу</button>
                        </form>
                    {% else %}
                        <p class="info">Время начала исполнения - {{ item.DateStart }}</p>
                        <p class="info">Статус - {{ item.Status }}</p>
                    {% endif %}
                    <p>===================================================</p>
                </div>
            </div>
            {% endfor %}
        {% endif%}
    </body>
</html>